In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
import html5lib

## Data Extraction

### L'équipe Data Extraction

In [61]:
url = "https://www.lequipe.fr/Football/"
url2 = "/saison-2021-2022/page-classement-equipes/general"

ANG = "championnat-d-angleterre"
FRA = "ligue-1"
ITA = "championnat-d-italie"
ESP = "championnat-d-espagne"
ALL = "championnat-d-allemagne"

champs = [ANG, FRA, ITA, ESP]

url_uefa = "https://www.uefa.com/nationalassociations/uefarankings/country/#/yr/2023"

In [72]:
def table_extractor(url):
    r = requests.get(url) 
    soup = bs(r.content) 
    table = soup.select("table")
    return pd.read_html(str(table))[0] 

def lequipe_extractor(league):
    df = table_extractor(url+league+url2)
    df = df[["Unnamed: 1",	"pts",	"G.",	"N.", "P.",	"p.",	"c.",	"+/-"]]
    df.columns = ["Squad",	"pts",	"G.",	"N.", "P.",	"p.",	"c.",	"+/-"]
    return df

In [175]:
df1 = lequipe_extractor(ITA)
df1.iat[0,0]  = "Milan"
df1.iat[12,0]  = "Bologna"
df1.iat[8,0]  = "Hellas Verona"
df1.iat[1,0]  = "Inter"
df1.iat[3,0]  = "Juventus"
df1.iat[4,0]  = "Lazio"
df1.iat[7,0]  = "Atalanta"
df1.iat[2,0]  = "Napoli"
df1.iat[5,0]  = "Roma"
df1.iat[14,0]  = "Sampdoria"
df1.iat[15,0]  = "Spezia"
df1.iat[19,0]  = "Venezia"

df2 = lequipe_extractor(ANG)
df2.iat[16,0]  = "Leeds United"
df2.iat[5,0]  = "Manchester Utd"
df2.iat[10,0]  = "Newcastle Utd"
df2.iat[19,0]  = "Norwich City"
df2.iat[7,0]  = "Leicester City"
df2.iat[9,0]  = "Wolves"

df3 = lequipe_extractor(FRA)
df3.iat[16,0]  = "Clermont Foot"
df3.iat[0,0]  = "Paris S-G"

df5 = lequipe_extractor(ESP)
df5.iat[7,0]  = "Athletic Club"
df5.iat[2,0]  = "Atlético Madrid"
df5.iat[1,0]  = "Barcelona"
df5.iat[4,0]  = "Betis"
df5.iat[16,0]  = "Cádiz"
df5.iat[13,0]  = "Espanyol"
df5.iat[17,0]  = "Granada"
df5.iat[15,0]  = "Mallorca"
df5.iat[3,0]  = "Sevilla"
df5.iat[8,0]  = "Valencia"

In [176]:
frames = [df1,df2,df3,df5]
df_concat = pd.concat(frames)
df_concat

       Squad  pts  G.  N.  P.  p.  c.  +/-
0      Milan   86  26   8   4  69  31   38
1      Inter   84  25   9   4  84  32   52
2     Napoli   79  24   7   7  74  31   43
3   Juventus   70  20  10   8  57  37   20
4      Lazio   64  18  10  10  77  58   19
..       ...  ...  ..  ..  ..  ..  ..  ...
15  Mallorca   39  10   9  19  36  63  -27
16     Cádiz   39   8  15  15  35  51  -16
17   Granada   38   8  14  16  44  61  -17
18   Levante   35   8  11  19  51  76  -25
19    Alavés   31   8   7  23  31  65  -34

[80 rows x 8 columns]

### FIFA data extraction

In [177]:
url_fifa_ANG = "https://www.fifaindex.com/fr/teams/fifa22_555/?league=13&order=desc"
url_fifa_FRA = "https://www.fifaindex.com/fr/teams/fifa22_555/?league=16&order=desc"
url_fifa_ITA = "https://www.fifaindex.com/fr/teams/fifa22_555/?league=31&order=desc"
url_fifa_ALL = "https://www.fifaindex.com/fr/teams/fifa22_555/?league=19&order=desc"
url_fifa_ESP = "https://www.fifaindex.com/fr/teams/fifa22_555/?league=53&order=desc"

In [178]:
def fifa_extractor(url):
    df = table_extractor(url)
    df = df[["Nom",	"Championnat",	"ATT",	"MIL",	"DÉF"]]
    df.dropna(inplace=True)
    df["AVG"] = df.mean(axis=1)
    df.reset_index(drop=True, inplace=True)
    df.columns = ["Squad",	"Championnat",	"ATT",	"MIL",	"DEF", "AVG"]

    return df

In [179]:
df1 = fifa_extractor(url_fifa_ITA)
df1.iat[5,0]  = "Lazio"
df1.iat[4,0]  = "Atalanta"
df1.iat[6,0]  = "Roma"
df1.iat[19,0]  = "Spezia"
df1["Championnat"] = "ITA"

df2 = fifa_extractor(url_fifa_ANG)
df2.iat[16,0]  = "Brighton"
df2.iat[3,0]  = "Manchester Utd"
df2.iat[11,0]  = "Newcastle Utd"
df2.iat[4,0]  = "Tottenham"
df2.iat[7,0]  = "West Ham"
df2.iat[9,0]  = "Wolves"
df2["Championnat"] = "ANG"

df3 = fifa_extractor(url_fifa_FRA)
df3.iat[0,0]  = "Paris S-G"
df3.iat[15,0]  = "Angers"
df3.iat[12,0]  = "Brest"
df3.iat[13,0]  = "Bordeaux"
df3.iat[8,0]  = "Lens"
df3.iat[6,0]  = "Lille"
df3.iat[19,0]  = "Lorient"
df3.iat[2,0]  = "Lyon"
df3.iat[1,0]  = "Marseille"
df3.iat[16,0]  = "Metz"
df3.iat[3,0]  = "Monaco"
df3.iat[9,0]  = "Montpellier"
df3.iat[10,0]  = "Nantes"
df3.iat[5,0]  = "Nice"
df3.iat[14,0]  = "Reims"
df3.iat[4,0]  = "Rennes"
df3.iat[11,0]  = "Saint-Étienne"
df3.iat[7,0]  = "Strasbourg"
df3.iat[17,0]  = "Troyes"
df3["Championnat"] = "FRA"

"""
df4 = fifa_extractor(url_fifa_ALL)
df4.iat[16,0]  = "Arminia"
df4.iat[13,0]  = "Augsburg"
df4.iat[0,0]  = "Bayern Munich"
df4.iat[15,0]  = "Bochum"
df4.iat[1,0]  = "Dortmund"
df4.iat[7,0]  = "Eint Frankfurt"
df4.iat[9,0]  = "Freiburg"
df4.iat[17,0]  = "Greuther Fürth"
df4.iat[5,0]  = "Hoffenheim"
df4.iat[8,0]  = "Köln"
df4.iat[3,0]  = "Leverkusen"
df4.iat[4,0]  = "M'Gladbach"
df4.iat[11,0]  = "Mainz 05"
df4.iat[12,0]  = "Stuttgart"
df4.iat[14,0]  = "Union Berlin"
df4.iat[6,0]  = "Wolfsburg"
"""

df5 = fifa_extractor(url_fifa_ESP)
df5.iat[7,0]  = "Athletic Club"
df5.iat[1,0]  = "Atlético Madrid"
df5.iat[2,0]  = "Barcelona"
df5.iat[6,0]  = "Betis"
df5.iat[15,0]  = "Cádiz"
df5.iat[8,0]  = "Espanyol"
df5.iat[10,0]  = "Granada"
df5.iat[17,0]  = "Mallorca"
df5.iat[3,0]  = "Sevilla"
df5.iat[9,0]  = "Valencia"
df5.iat[16,0]  = "Alavés"
df5.iat[11,0]  = "Celta Vigo"
df5.iat[19,0]  = "Elche"
df5.iat[14,0]  = "Getafe"
df5.iat[13,0]  = "Osasuna"
df5.iat[5,0]  = "Villarreal"
df5.iat[12,0]  = "Levante"

df5["Championnat"] = "ESP"

C:\Users\testu\AppData\Local\Temp/ipykernel_12488/347712812.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df["AVG"] = df.mean(axis=1)

In [180]:
frames = [df1,df2,df3,df5]
df_concat2 = pd.concat(frames)
df_concat2

             Squad Championnat   ATT   MIL   DEF        AVG
0            Inter         ITA  82.0  82.0  83.0  82.333333
1         Juventus         ITA  81.0  81.0  82.0  81.333333
2            Milan         ITA  81.0  80.0  80.0  80.333333
3           Napoli         ITA  82.0  80.0  77.0  79.666667
4         Atalanta         ITA  82.0  79.0  79.0  80.000000
..             ...         ...   ...   ...   ...        ...
15           Cádiz         ESP  77.0  75.0  73.0  75.000000
16          Alavés         ESP  76.0  74.0  76.0  75.333333
17        Mallorca         ESP  75.0  74.0  75.0  74.666667
18  Rayo Vallecano         ESP  75.0  74.0  73.0  74.000000
19           Elche         ESP  75.0  74.0  73.0  74.000000

[80 rows x 6 columns]

### FBref Extraction

In [181]:
url_fbref_ANG = "https://fbref.com/en/comps/9/2021-2022/2021-2022-Premier-League-Stats"
url_fbref_FRA = "https://fbref.com/en/comps/13/2021-2022/2021-2022-Ligue-1-Stats"
url_fbref_ITA = "https://fbref.com/en/comps/11/2021-2022/2021-2022-Serie-A-Stats"
url_fbref_ESP = "https://fbref.com/en/comps/12//2021-2022/2021-2022-La-Liga-Stats"


def fbref_extractor(url):
    r = requests.get(url) 
    soup = bs(r.content) 
    table = soup.find_all("table")
    df = pd.read_html(str(table))[22]
    df.columns = df.columns.droplevel()
    return df

In [182]:
df1 = fbref_extractor(url_fbref_ITA)
df2 = fbref_extractor(url_fbref_ANG)
df3 = fbref_extractor(url_fbref_FRA)
df5 = fbref_extractor(url_fbref_ESP)

In [183]:
frames = [df1,df2,df3,df5]
df_concat3 = pd.concat(frames)
df_concat3

,Squad,# Pl,90s,CrdY,CrdR,2CrdY,Fls,Fld,Off,Crs,Int,TklW,PKwon,PKcon,OG,Recov,Won,Lost,Won%
0,Atalanta,32,38.0,87,2,1,513,454,68,661,441,341,3,6,3,2292,685,518,56.9
1,Bologna,36,38.0,92,7,4,443,497,56,601,371,298,3,9,2,1972,492,520,48.6
2,Cagliari,33,38.0,96,5,3,549,490,70,675,397,303,3,10,1,1995,696,742,48.4
3,Empoli,28,38.0,87,5,3,506,463,83,704,352,327,6,10,6,1998,427,549,43.8
4,Fiorentina,28,38.0,89,8,6,464,565,57,776,244,301,8,5,2,1885,469,456,50.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,Real Madrid,31,38.0,76,0,0,394,474,106,611,334,345,10,5,0,1941,397,319,55.4
16,Real Sociedad,32,38.0,77,4,1,491,465,76,638,348,339,8,6,0,2012,678,597,53.2
17,Sevilla,33,38.0,97,4,2,462,462,80,787,270,302,3,4,0,2064,595,561,51.5
18,Valencia,34,38.0,134,8,6,641,586,52,765,339,364,8,8,3,2079,564,599,48.5
19,Villarreal,29,38.0,81,1,1,472,459,91,574,329,312,3,5,1,1946,491,437,52.9

### Final Merge

In [184]:
result = pd.merge(pd.merge(df_concat, df_concat2, on="Squad"), df_concat3, on="Squad")
result

,Squad,pts,G.,N.,P.,p.,c.,+/-,Championnat,ATT,...,Crs,Int,TklW,PKwon,PKcon,OG,Recov,Won,Lost,Won%
0,Milan,86,26,8,4,69,31,38,ITA,81.0,...,672,355,421,5,5,2,2167,521,517,50.2
1,Inter,84,25,9,4,84,32,52,ITA,82.0,...,809,332,332,7,4,1,2004,549,476,53.6
2,Napoli,79,24,7,7,74,31,43,ITA,82.0,...,553,296,327,9,1,1,1981,393,403,49.4
3,Juventus,70,20,10,8,57,37,20,ITA,81.0,...,550,332,316,5,7,1,2008,550,440,55.6
4,Lazio,64,18,10,10,77,58,19,ITA,79.0,...,574,315,339,6,6,1,1941,411,427,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Mallorca,39,10,9,19,36,63,-27,ESP,75.0,...,597,344,332,6,8,4,2007,651,703,48.1
76,Cádiz,39,8,15,15,35,51,-16,ESP,77.0,...,865,413,380,5,13,0,2077,601,693,46.4
77,Granada,38,8,14,16,44,61,-17,ESP,77.0,...,691,326,343,2,9,2,1867,602,743,44.8
78,Levante,35,8,11,19,51,76,-25,ESP,78.0,...,624,377,305,6,6,0,2054,441,492,47.3
79,Alavés,31,8,7,23,31,65,-34,ESP,76.0,...,758,376,324,6,9,0,1910,869,674,56.3

In [185]:
result.to_csv("data_clean.csv")